
# This file contains environment variables for configuring the application.

ELECTRON_ENABLE_LOGGING=
ELECTRON_IS_DEV=

# Database configuration
# This variable is used to specify the SQLite database file name
# it can be local.db or sqlite.db or other
DB_FILE_NAME=

# Better Auth configuration
# These variables are used to configure the Better Auth service
# you can geneate these secrets by yourself
BETTER_AUTH_SECRET=
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_CLIENT_SECRET=

# The following environment variables are used to generate TypeScript schemas from OpenAPI documentation.
# Uncomment the lines below to enable schema generation.
# SCHEMA_OPENAPI3_URL = "http://localhost:8080/doc"
# SCHEMA_OPENAPI3_OUTPUT_DIRECTORY = "src/schemas/openapi3"
# SCHEMA_OPENAPI3_OUTPUT_FILENAME = "openapi.schema.d.ts"

# SCHEMA_BETTER_AUTH_URL = "http://localhost:8080/api/auth/doc"
# SCHEMA_BETTER_AUTH_OUTPUT_DIRECTORY = "src/schemas/better-auth"
# SCHEMA_BETTER_AUTH_OUTPUT_FILENAME = "better-auth.schema.d.ts"
SCHEMA_OPENAPI3_URL =
SCHEMA_OPENAPI3_OUTPUT_DIRECTORY =
SCHEMA_OPENAPI3_OUTPUT_FILENAME =

SCHEMA_BETTER_AUTH_URL =
SCHEMA_BETTER_AUTH_OUTPUT_DIRECTORY =
SCHEMA_BETTER_AUTH_OUTPUT_FILENAME =

# Aider configuration
# These variables control the behavior of the Aider AI assistant
GEMINI_API_KEY=
AIDER_NOTIFICATIONS=
AIDER_MODEL=
AIDER_WEAK_MODEL=
AIDER_AUTO_COMMITS=
AIDER_THINKING_TOKENS=