public-hoist-pattern[]=@types/*
public-hoist-pattern[]=playwright-core
public-hoist-pattern[]=zod
side-effects-cache=false
strict-peer-dependencies=false
prefer-workspace-packages=true
shamefully-hoist=true

# 指定 npm 包的 registry
# registry=https://registry.npmmirror.com

# 指定 Electron 二进制文件的下载镜像
electron_mirror="https://npmmirror.com/mirrors/electron/"

